<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Pizza Reviews</title>
	<link rel = "stylesheet" type = "text/css" th:href = "style.css" />
	<link rel = "stylesheet" type = "text/css" th:href = "layout.css" />
	
</head>

<body>
	<header id="reviewsHeader">
		<h1 th:text="${tag.name} + ' Pizza Reviews'"></h1>
	</header>

	<ul>
		<li th:each="pizzaReview: ${tag.taggedPizzaReviews}">
			<a th:href="@{/singleReview(id=${pizzaReview.id})}" th:text="${pizzaReview.title}"></a>
		</li>
	</ul>
	<footer>
			<a href="http://localhost:8080/categoryList">Pizza Categories</a>
			<p>I like Pizza!</p>
			<p>WCCI Week 7 Project</p>
		</footer>
	
	

</body>
</html>